.box-static {
	width: 300px;
	height: 300px;
	background-color: blue;
	margin: 1.5em;
}

/** Relative: Em relação ao espaço que ocupa **/

.box-relative {
	width: 300px;
	height: 300px;
	background-color: red;
	margin: 1.5em;
	position: relative;
	left: 100px;
	bottom: 300px;
}

/** Fixed: Em relação à tela **/

.box-fixed {
	width: 300px;
	height: 300px;
	background-color: green;
	margin: 1.5em;
	position: fixed;
	top: 0;
	right: 0;
}

/** Absolute: Em relação ao elemento pai RELATIVO mais próximo
	<body> é o elemento de position: relative **/

.box-absolute {
	width: 300px;
	height: 300px;
	background-color: plum;
	margin: 1.5em;
	position: absolute;
	top: 100px;
	left: 200px;
}

.container {
	width: 60%;
	height: 800px;
	border: 3px dashed black;
}

.container-relative {
	width: 60%;
	height: 800px;
	border: 3px dashed black;
	position: relative;
	left: 200px;
}

/** Z-index maior tem mais prioridade no plano de exibição 
	Caso seja igual, elemento posterior no código tem prioridade **/

.box-relative2 {
	width: 300px;
	height: 300px;
	background-color: yellow;
	margin: 1.5em;
	position: relative;
	left: 100px;
	bottom: 500px;
	z-index: -1;
}

/** Modificadores para elementos com mais de uma classe **/

.classe1 {
	color: blue;
}

.classe2 {
	color: red;
}

.classe1.classe2 {
	color: green;
}

h1 {
	color: olive;
}

.minhaDiv h1 {
	color: royalblue;
}